@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* --------------------------Body Style Rules -----------------------*/

 body {
   padding: 15px;
   background-color: #fafafa;
 }

 li {
   margin-left: -40px;
  }

 .ul-hours-touch > li {
   list-style: none;
   margin-top: 3px;
  }

  .ul-contact-touch > li {
    list-style: none;
    margin-top: 10px;
   }

 .hr-short {
   max-width: 100px;
   background-color: coral;
 }

 .hr-moto {
   border: 1px solid darkorange;
   text-align: center;
   border-radius: 1px;

 }

 .gallery-top {
   margin-bottom: 80px;
   text-align: center;
   font-size: 18px;
   font-weight: 400;

 }

 .p-about {
   font-size: 18px;
   font-weight: 400;
   text-align: center;

 }

  .services-text {
    font-size: 18px;
    font-weight: 400;
    text-align:left;
  }

 .munsters-best {
   text-align: center;
   padding-top: 80px;
   padding-bottom: 50px;
   opacity: 0.75;
 }

 .main-caption-text {
   padding-top: 50px;
   padding-bottom: 50px;
   opacity: 0.75;
   position: inherit;

 }

 #contact-methods {
   background-color: #fafafa;
   min-height: 500px;
   max-width: 300px;
   color: black;
   border: 1px solid deepskyblue;
   border-radius: 25px;
   float: left;
   padding-left: 20px;
   opacity: 0.75;
   margin-top: 23px;
   }

 #hours {
   background-color: #fafafa;
   min-height: 500px;
   max-width: 300px;
   color: black;
   border: 1px solid deepskyblue;
   border-radius: 25px;
   float: right;
   padding-left: 20px;
   opacity: 0.75;
   margin-top: 23px;

 }

 #about-padding {
   margin-top: 75px;
   margin-bottom: 75px;

 }
 #p-about-padding {
    margin-top: 65px;
 }
  /*------------------ For Header and Navigation -----------------------------------*/

 a.nav-links {
   text-decoration: none;
   color: black;
 }

 .fa-phone, .fa-cog, .fa-info {
   padding-left: 10px;
   font-size: 100%;
 }

 .moto {
   font-size: 18px;
   font-weight: 400;
   text-align: center;
   min-width: 300px;
   padding-top: 15px;
   margin-left: -50px;
 }
/*---------------------------- Buttons ----------------------*/

.submit-button {
   background-color: lightgrey;
   border: 1px solid coral;
   border-radius: 25px;
   color: black;
   text-align: center;
   font-size: 16px;
   margin: 4px 2px;
   opacity: 1;
   transition: 0.3s;
   min-width: 150px;
   min-height: 30px;
 }

 .reset-button {
   background-color: lightgrey;
   border: 1px solid coral;
   border-radius: 25px;
   color: #fafafa;
   float:right;
   text-align: center;
   font-size: 16px;
   margin-right: 15px;
   margin-top: 4px;
   transition: 0.3s;
   min-width: 140px;
   min-height: 30px;
 }


 .gallery-button {
   text-decoration: none;
   border: 1px solid darkgreen;
   background-color: #fafafa;
   border-radius: 5px;
   text-align: center;
   min-width: 190px;
 }

 .painter-button {
   background-color: lightgrey;
   border: 1px solid coral;
   border-radius: 25px;
   color: black;
   text-align: center;
   padding: 15px 15px 15px 15px;
   opacity: 0.75;
   margin-top: 50px;
   min-width: 190px;
   min-height: 30px;
   margin-left: -15px;
   font-size: 18px;
 }

 .radio-standard-input {
   text-align: left;
   margin-left: 20px;
   opacity: 0.75;
 }

/*-------------------------------- Images ----------------------*/


#main-picture {
  opacity: 0.75;
  border-radius: 75px;
  border: 2px solid deepskyblue;
}

.main-picture-gallery {
  border-radius: 25px;
  border: 1px solid deepskyblue;
  max-width: 300px;
  /*margin-left: -50px; */
}

 img.service-pictures {
   width: 350px;
   height: 300px;
   border-radius: 25px;
   opacity: 0.75;
   border: 2px solid deepskyblue;

 }

 .testimonial {
   border-radius: 25px;
   height: 150px;
   width: 200px;
   overflow: hidden;
   opacity: 0.8;

 }

 img.testimonial {
   width: 200px;
   height: 150px;
   border-radius: 25px;
   opacity: 0.8;
   border: 2px solid deepskyblue;
 }

img.beforeandafter {
  width: 380px;
  height: 380px;
  border-radius: 25px;
  opacity: 0.8;
  overflow: hidden;
  border: 2px solid deepskyblue;;
  margin-bottom: 20px;
 }

/*-Font Awesome Rules-*/

 #phone-contact-icon {
   padding-left: 22px;
 }

 #email-contact-icon {
    padding-left: 45px;
 }

 #post-contact-icon {
    padding-left: 22px;
 }

/*------------------------------- Forms ------------------------*/

.dropdown-standard-input {
  font-size: 12px;
}

#color-scheme {
   background-color: #fafafa;
   min-height: 50px;
   min-width: 150px;
   color: black;
   border: 1px solid coral;
   border-radius: 25px;
   text-align: center;
   opacity: 0.75;
   margin-left: -15px;
   padding-left: 10px;
   padding-right: 10px;
 }

 #contact-form {
   background-color: #fafafa;
   min-height: 500px;
   max-width: 800px;
   color: black;
   border: 1px solid coral;
   border-radius: 25px;
   float: left;
   padding-left: 20px;
   opacity: 0.75;
 }

 #quote-form {
    background-color: #fafafa;
    min-height: 800px;
    max-width: 800px;
    color: black;
    border: 1px solid coral;
    border-radius: 25px;
    float: left;
    padding-left: 20px;
    opacity: 0.75;
 }

 #form {
    min-width: 150px;
    margin-left: 50px;
 }

/* ---------------------------Foooter Style Rules start -----------------------*/

 .bands-footer {
    position: inherit;
    width: 100%;
    height: 85px;
    background-color: #fafafa;
    text-align: center;
    left: 0;
    bottom: 0;
 }

 .hr-footer {
    height: 1px;
    background-color: lightgrey;
    border: none;
    margin-top: 100px;
 }

 .fa-facebook-f {
    padding: 0 20px 0 20px;
    font-size: 150%;
 }

 .fa-instagram-square {
    padding: 0 20px 0 20px;
    font-size: 150%;

 }

 .fa-twitter-square {
    padding: 0 20px 0 20px;
    font-size: 150%;
 }

 .bands-sub-footer {
    max-width: 300px;
 }

 img.company-logo-footer {
    max-width: 60px;
    margin-left: -10px;
 }

 .contact-footer {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
 }

 .about-hr-footer {
    padding-top: 50px;
 }

/*--------------------------- Media Query Rules ------------------*/

/* < 249px */

@media only screen and (max-width: 249px) {

  img.company-logo {
    width: 70px;
    padding-top: 0px;
  }

  div.col-testimonial {
    text-align: center;
  }

  .fa-phone, .fa-cog, .fa-info {
    display: none;
  }

  .form-standard-input {
    max-width: 150px;
  }

  .beforeandafter {
    text-align: center;
  }

  img.beforeandafter {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    opacity: 0.8;
    overflow: hidden;
    margin-left: -20px;
  }

  .foot-face, .foot-instagram, .foot-twitter {
    font-size: 100%;
  }

  .bandsheading {
    font-size: 24px;
    text-align: left;
  }

  .p-contact-touch {
    font-size: 14px;
    text-align: center;
  }

  .ul-hours-touch {
    font-size: 14px;
    text-align: center;
  }

  .main-caption-text {
    padding-top: 40px;
    padding-bottom: 40px;
    opacity: 0.75;
    position: inherit;
    font-size: 15px;
    margin-left: 15px;
  }

  .main-picture-gallery {
    border-radius: 25px;
    border: 1px solid deepskyblue;
    max-width: 200px;

  }

  #form-query-input {
    max-width: 130px;
    min-height: 350px;
  }

  #quote-form {
    min-height: 1000px;
    font-size: 80%;
  }

  #email-contact-icon, #post-contact-icon {
    display: none;
  }

  .ul-contact-touch {
    font-size: 12px;
  }

  ul.services-text > li {
    list-style: none;
  }
}

/* 250px - 499px */
@media only screen and (min-width: 250px) and (max-width: 499px){

  img.company-logo {
     width: 80px;
     padding-top: 0px;
  }

  div.bands-contact,div.bands-services, div.bands-about {
    text-align: left;
    margin-top: 15px;
  }

  div.col-testimonial {
    text-align: center;
  }

  .fa-phone, .fa-cog, .fa-info {
    display: none;
  }

  .form-standard-input {
    max-width: 180px;
  }

  .reset-button {
    background-color: lightgrey;
    border: 1px solid coral;
    border-radius: 25px;
    color: #fafafa;
    float:left;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 15px;
    transition: 0.3s;
    min-width: 100px;
    min-height: 30px;

  }

  .submit-button {
    background-color: lightgrey;
    border: 1px solid coral;
    border-radius: 25px;
    color: black;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px 0px 10px;
    opacity: 1;
    transition: 0.3s;
    min-width: 100px;
    min-height: 30px;
    float:left;

  }

  .beforeandafter {
    text-align: left;
  }

  img.beforeandafter {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    opacity: 0.8;
    overflow: hidden;
    align-items: flex-start;
  }

  .bandsheading {
    font-size: 24px;
    text-align: left;
  }

  .foot-face, .foot-instagram, .foot-twitter {
    font-size: 100%;
  }

  .p-contact-touch {
    font-size: 18px;
    text-align: left;
  }

  .main-caption-text {
    padding-top: 40px;
    padding-bottom: 40px;
    opacity: 0.75;
    font-size: 15px;
    
  }

  .main-picture-gallery {
    border-radius: 25px;
    border: 1px solid deepskyblue;
    max-width: 200px;
    align-self:  flex-end;
    display: block;


  }
  #form-query-input {
    max-width: 150px;
    min-height: 350px;
  }

  #quote-form {
    min-height: 1000px;
    font-size: 80%;
  }

  #email-contact-icon, #post-contact-icon {
     display: none;
  }


  .ul-contact-touch {
    font-size: 16px;
    text-align: center;
  }

  img.service-pictures {
  max-width: 150px;
  max-height: 150px;
  }

  ul.services-text > li {
    list-style: none;
  }

}

/* 500px - 767px */
@media only screen and (min-width: 500px) and (max-width: 767px){

  img.company-logo {
    width: 90px;
    padding-top: 0px;
  }

  div.bands-contact,div.bands-services, div.bands-about {
    text-align: left;
    margin-top: 15px;
  }

  div.col-testimonial {
    text-align: center;
  }

  .fa-phone, .fa-cog, .fa-info {
    display: none;
  }

  .form-standard-input {
    max-width: 280px;
  }

  .beforeandafter {
   text-align: center;
  }

  img.beforeandafter {
    margin-left: 50px;
  }

  #form-query-input {
    min-width: 350px;
    min-height: 350px;
  }

  .bandsheading {
    font-size: 24px;
    text-align: left;
  }

  #quote-form {
    min-height: 1000px;

  }

  .foot-face, .foot-instagram, .foot-twitter  {
    font-size: 100%;
  }

  #email-contact-icon, #post-contact-icon {
    display: none;
  }

  img.service-pictures {
  margin-left: -10px;
 }

}

/* 767px - 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  img.company-logo {
    width: 90px;
  }

  div.bands-contact,div.bands-services, div.bands-about {
    text-align: center;
  }

  div.col-testimonial {
    text-align: center;
  }

  .beforeandafter {
   text-align: center;
  }

 img.beforeandafter {
    margin-left: 150px;
 }

 #form-query-input {
    min-width: 450px;
    min-height: 350px;
  }

  .br-quote {
    display:contents;
  }

  #services-heading {
    max-width: 250px;
    text-align: left;

  }

  .bandsheading {
    font-size: 33px;
    text-align: center;
  }

  #br-reasons {
    font-size: 80%;
  }

  .foot-face, .foot-instagram, .foot-twitter {
  font-size: 100%;
}

  img.service-pictures {
  margin-left: -65px;
}

}

/* 992px - 1023px */
@media only screen and (min-width: 992px) and (max-width: 1023px) {

  img.company-logo {
    width: 80px;
  }

  div.bands-contact,div.bands-services, div.bands-about {
    text-align: center;
  }

  .beforeandafter {
   text-align: center;
  }

  img.beforeandafter {
    margin-left: 25px;
  }

  #form-query-input {
    min-width: 450px;
    min-height: 350px;
  }

  .br-quote {
    display:contents;
  }

  #services-heading {
    max-width: 250px;
    text-align: left;

  }

  .bandsheading {
    font-size: 40px;
    text-align: left;
  }

  #br-reasons {
    font-size: 90%;
  }

  .foot-face, .foot-instagram, .foot-twitter {
    font-size: 100%;
  }

  img.service-pictures {
    margin-left: -35px;
  }

}

/* 1024px - 1200px */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {

 img.company-logo {
    width: 100px;
 }

 div.bands-contact,div.bands-services, div.bands-about {
    text-align: center;
 }

 .fa-facebook-f {
    padding: 0 30px 0 30px;
    font-size: 150%;
 }

 .fa-instagram-square {
    padding: 0 30px 0 30px;
    font-size: 150%;

 }

 .fa-twitter-square {
    padding: 0 30px 0 30px;
    font-size: 150%;
 }

  .beforeandafter {
   text-align: center;
 }

 img.beforeandafter {
    margin-left: 25px;
 }

 #form-query-input {
    min-width: 450px;
    min-height: 350px;
 }

 .br-quote {
    display:contents;
 }

 .services-heading {
    max-width: 250px;
    text-align: left;
 }

 img.service-pictures {
   margin-left: -35px;
 }

}

/* 1201px > */
@media only screen and (min-width: 1201px) {

img.company-logo {
  width: 120px;
  }


h1.bands.heading {
  text-align: left;
  font-size: 1px;
  }

div.bands-contact,div.bands-services, div.bands-about {
    text-align: center;
  }

  .fa-facebook-f {
    padding: 0 30px 0 30px;
    font-size: 150%;
  }

  .fa-instagram-square {
    padding: 0 30px 0 30px;
    font-size: 150%;

  }

  .fa-twitter-square {
    padding: 0 30px 0 30px;
    font-size: 150%;
  }

  img.testimonial {
    width: 200px;
    height: 150px;
    border-radius: 25px;
    opacity: 0.8;
    overflow: hidden;
    margin-left: 25px;
  }

  .beforeandafter {
    text-align: center;
  }

  img.beforeandafter {
    width: 400px;
    height: 400px;
    border-radius: 25px;
    opacity: 0.8;
    overflow: hidden;
    margin-left: 70px;
  }

  img.service-pictures {
    margin-left: -15px;
  }

  #form-query-input {
    min-width: 450px;
    min-height: 350px;
  }

  .br-quote {
  display:contents;
  }

  #hours {
    margin-left: -150px;
  }
}
