@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* -------------------------- General Style Rules start-----------------------*/
/*#main {
  padding-left: -150px;
} */

body {
  padding: 15px;
  background-color: #fafafa;
  }

  #braggandsons-hr, #contact-hr, #services-hr  {
    height: 15px;
    width: 135px;
    position: fixed;
    color: #fafafa;
  }

#moto {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  float:center;
  min-width: 300px;
  padding-top: 15px;
  margin-left: -50px;


}

.hr-moto {
  border: 1px solid darkorange;
  float: center;
  border-radius: 1px;
  margin-left: inherit;
  min-width: 200px;
}

#reasons {

  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border: solid 1px lightgrey;
  min-width: 300px;

}

#br-reasons {
  text-align: left;
}


.main-button {
  background-color:   darkgrey;
    border: 1px solid coral;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
}

.gallery {
  text-decoration: none;
}

/* main-image {
  background-repeat: repeat;
  background-size: cover;
  max-height: 600px;
  max-width: 700px;
  overflow: hidden;
  border: 0px 0px 0px 0px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;}


html {
  background-image:url("/assets/images/main4.jpg");
  background-size: cover;
  position: inherit;
  background-repeat: no-repeat;
}
*/


/* -------------------------- General Style Rules End-----------------------*/
/*--------------------------- Mobile Style Rules start -----------------------*/





/*--------------------------- Mobile Style Rules end -----------------------*/
/* ---------------------------Foooter Style Rules start -----------------------*/
.bands-footer {
  position: relative;
  width: 100%;
  height: 85px;
  background-color: #fafafa;
  text-align: center;
  left: 0;
  bottom: 0;
  /*padding: 0 15px 0 15px;*/

}

.hr-footer {
  height: 1px;
  background-color: lightgrey;
  border: none;
}

.fa-facebook-f {
  padding: 0 20px 0 20px;
  font-size: 150%;
}
.fa-instagram-square {
  padding: 0 20px 0 20px;
  font-size: 150%;
  border:
}
.fa-twitter-square {
  padding: 0 20px 0 20px;
  font-size: 150%;
}
/* ---------------------------Foooter Style Rules End -----------------------*/
/* -------------------------- Colour Style Rules start -----------------------*/


/* Change #fafafa to anything else to get back the surrounding boxes */
.bands-col {
 border: 1px solid #fafafa;
}

.main-col {
 border: 1px solid #fafafa;
 }
/*-- Setting the colours of the 1st 4 columns just to show as an example */
.r1c1 .r1c2 .r1c3 .r1c4 .r1c5{
background-color: #fafafa;
}



/* -------------------------- Colour Style Rules end -----------------------*/

/* -------------------------- Media Query Rules start -----------------------*/


/* If the screen size is 300px wide or less, hide the element */
@media only screen and (max-width: 249px) {

  img.company-logo {
    width: 70px;
    padding-top: 0px;
  }
  #bandsheading {
    font-size: 24px;
    text-align: left;
}
#contact, #services, #about {
  font-size: 10px;
}
#foot-face, #foot-instagram, #foot-twitter   {
  font-size: 100%;
}

}
/* ------ For mobile phones start
[class*="col-"] {
  width: 100%;
}*/
@media only screen and (min-width: 250px) and (max-width: 499px){

  img.company-logo {
    width: 80px;
    padding-top: 0px;
  }
  #bandsheading {
    font-size: 24px;
    text-align: left;
  }
#contact, #services, #about {
  font-size: 12px;
}

#foot-face, #foot-instagram, #foot-twitter   {
  font-size: 100%;
}
    div.r1c3,div.r1c4, div.r1c5 {
      text-align: left;
    }

  }
@media only screen and (min-width: 500px) and (max-width: 767px){

  img.company-logo {
    width: 90px;
    padding-top: 0px;
  }
  #bandsheading {
    font-size: 24px;
    text-align: left;
  }
#contact, #services, #about {
  font-size: 12px;
}
#foot-face, #foot-instagram, #foot-twitter   {
  font-size: 100%;
}

div.r1c3,div.r1c4, div.r1c5 {
  text-align: center;
}

    div.r1c3,div.r1c4, div.r1c5 {
      text-align: left;
    }

  }
/*-------For mobile phones end */

@media only screen and (min-width: 768px) and (max-width: 991px) {

  img.company-logo {width: 90px;}
  #bandsheading {
    font-size: 33px;
    text-align: center;
  }
  #contact, #services, #about {
    font-size: 12px;
}

#foot-face, #foot-instagram, #foot-twitter   {
  font-size: 100%;
}
    div.r1c3,div.r1c4, div.r1c5 {
      text-align: center;
    }

/* ^^^^^^^^^^ Main content ^^^^^^^^^^^ */
div.r2c1,div.r2c2, div.r2c3 {
  text-align: left;
}

#moto {
  font-size: 80%;
  margin-top: -15px;
}

#br-reasons {
  font-size: 80%;

}

#quote-button {
  margin-top: 8px;
  font-size: 90%;
  height: 57px;

}
  }
/*-------For Tablets start */

/* ----- For desktop start */
@media only screen and (min-width: 992px) and (max-width: 1023px){

  img.company-logo {width: 80px;}

  #bandsheading {
    font-size: 40px;
    text-align: left;

  }

  #contact, #services, #about {
    font-size: 12px;
      }

    #foot-face, #foot-instagram, #foot-twitter   {
      font-size: 100%;
    }
    div.r1c3,div.r1c4, div.r1c5 {
      text-align: center;
    }

    #moto {
    font-size: 90%;
  }

  #br-reasons {
    font-size: 90%;
  }
  .hr-moto {
    margin-left: -50px;
  }
  #quote-button {
    margin-top: 47px;
    font-size: 100%;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {

img.company-logo {width: 100px;}

  div.r1c3,div.r1c4, div.r1c5 {
    text-align: center;
  }


  .fa-facebook-f {
    padding: 0 30px 0 30px;
    font-size: 150%;
  }
  .fa-instagram-square {
    padding: 0 30px 0 30px;
    font-size: 150%;
    border:
  }
  .fa-twitter-square {
    padding: 0 30px 0 30px;
    font-size: 150%;
  }

  .hr-moto {
    margin-left: -50px;
  }
  #quote-button {
    margin-top: 16px;
    font-size: 100%;
}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1201px) {

img.company-logo {width: 120px;}
h1.bands.heading {
  text-align: left;
  font-size: 1px;}


  
  div.r1c3,div.r1c4, div.r1c5 {
    text-align: center;
  }
  .fa-facebook-f {
    padding: 0 30px 0 30px;
    font-size: 150%;
  }
  .fa-instagram-square {
    padding: 0 30px 0 30px;
    font-size: 150%;
    border:
  }
  .fa-twitter-square {
    padding: 0 30px 0 30px;
    font-size: 150%;
  }
  .hr-moto {
    margin-left: -50px;
  }

  #quote-button {
    margin-top: 76px;
    font-size: 130%;
  }
}
